.custom-table-main{
    border: 1px solid rgba(0, 0, 0, 0.24);
    font-size: 1.03rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
}
.custom-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.custom-container .custom-container-inner-div{
    display: flex ;
    width: 100%;
}
.custom-container .custom-container-inner-div .custom-container-inner-left-main {
    display: flex ;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.custom-container .custom-container-inner-div div div{
    max-width: 200px;
    width: 100%;
}
.custom-container .custom-container-inner-div .cell{
    padding: 8px 5px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.custom-container .custom-container-inner-div.left{
   width: 330px;
}
.custom-container .custom-container-inner-div.right{
   max-width: 100%;
}
.cell.div-expand-icon{
    max-width: 50px !important;
}
.cell.div-img, .cell.div-product-type, .cell.div-manage-stock{
    max-width: 80px !important;
}
.cell.div-manage-stock{
    max-width: 110px !important;
}
.variable-product-expand{
    height: 25px;
    width: 25px;
    background-color: rgb(201, 201, 201);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
}
.variable-product-expand svg{
    height: 20px;
    width: 20px;
}
.div-img-img{
    width: 45px;
    height: 45px;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}
.cell input{
    max-width: calc(100% - 20px) !important;
    width: 110px;
    background-color: transparent;
}
.cell span.edit-btn{
    width: 20px;
    display: block;
}
.cell span.edit-btn svg{
    width: 100%;
}
.div-manage-stock{
    overflow: visible !important;
}
.div-manage-stock-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-container .custom-container-inner-div.right .cell div.title{
    display: none;
}
.master-edit-btn{
    display: none;
    width: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.master-edit-btn svg{
    width: 30px;
    height: 30px;
}
.custom-container-row{
        background: rgb(236, 236, 236);
        color: black;
        padding: 0 8px;
    }
.custom-container-col{
        padding: 0 8px;
    }
    .custom-container-col:nth-child(odd){
        background: rgb(247, 247, 247);
    }
    .input-edit{
        display: flex;
        align-items: center;
        justify-content: center;
    }
@media only screen and (max-width: 1270px) {
    .master-edit-btn{
        display: flex;
    }
    .div-backorder, .div-product-type, .div-subcriberno{
        display: flex !important;
    }
    .custom-container.custom-container-col{
        flex-direction: column;
    }
    .custom-container.custom-container-col .left{
        width: 100% !important;
        /* justify-content: center !important; */
        text-align: center !important;
    }
    .custom-container.custom-container-col .right{
        width: 100% !important;
        justify-content: flex-start !important;
        text-align: left !important;
        background-color: rgb(235, 235, 235);
        padding: 10px 20px;
        margin-bottom: 10px;
    }
    .custom-container-row{
        width: 100%;
        justify-content: space-between;
        background: rgb(231, 231, 231);
    }
    .custom-container-row .right .cell{
        display: none !important;
    }
    .custom-container-row .left{
        width: 100%;
    }
    .custom-container-inner-div.right{
        display: none;
        flex-direction: column;
        width: fit-content;
        justify-content: center;
    }
    .custom-container .custom-container-inner-div.right .cell{
        max-width: 400px !important;
    }
    .custom-container .custom-container-inner-div.right div input{
        width: 150px;
    }
    .custom-container .custom-container-inner-div.right .cell div.title{
        display: block;
        max-width: 180px;
        width: 100%;
    }
    .custom-container .custom-container-inner-div.right .cell > *{
        width: 50%;
    }
    .custom-container .custom-container-inner-div.right .cell div.title p{
        font-size: 1.25rem;
    }
    .custom-container .custom-container-inner-div.right .cell{
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }
    .custom-container .custom-container-inner-div .custom-container-inner-left-main{
        justify-content: flex-start;
    }
}