.alert_container {
	margin-bottom: 20px;
}

.stock_alert_email {
	margin-bottom: 10px;
	width: 250px;
}

.stk_disabled{
	cursor: not-allowed;
    opacity: 0.5 !important;
}

h6.subscribe_for_interest_text {
	margin-bottom: 5px;
}

.alert_container_bk {
	display: none;
}

.alert_container p {
    margin-bottom: 0px;
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    margin-top: 4px;
}

.stock_alert_button.alert_loader{cursor: not-allowed;}
.stock_alert_button.alert_loader:before{
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  border: 2px solid white;
  border-left-color: transparent;
  border-top-color: transparent;
  animation: loading 1s linear infinite;
}

@keyframes loading{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}