$manageStock-base-color: #f2eff5;
$manageStock-boder-color: #d4d1d9;
$manageStock-border: 0.063rem solid #d4d1d9;
$manageStock-title-color: #181718;
$manageStock-paragraph-color: #5e5d60;
$manageStock-border-radius: 0.25rem;
$manageStock-button-border-radius: 0.25rem;
$manageStock-fill-color: #fdfdfe;
$manageStock-theme-color: #65438f;
$manageStock-header-background: #f7f6f9;
$manageStock-section-background: #fbfafc;
$manageStock-code-back: #fdf9fb;
$manageStock-code-line: #dfb1c7;
$manageStock-purple-btn-hover: #795b9d;
$manageStock-font-white: #f9f8fb;
$manageStock-grey-icon: #8e8b91;
$manageStock-rejected-vendor-font: #df5d65;
$manageStock-rejected-vendor-back: #fefbfc;
$manageStock-approve-font-color: #522c81;
$manageStock-red-btn-back: #e35047;
$manageStock-red-icon: #e26f76;
$manageStock-code-font: #b74f82;
$manageStock-small-code-back: #fbf5f8;
$manageStock-blue-icon: #9f8ab9;
$manageStock-scroll-color: #ece8f1;
$border-color: rgba(0, 0, 0, 0.2);
$background-color: #fff;
$padding-small: 0.4rem;
$padding-medium: 1rem;
$font-color: #333;
$background-secondary-color: #ccc;
$even-row-color: rgb(245, 245, 245);
$head-row-background: #e7e7e7;
$border-color: rgba(0, 0, 0, 0.2);
$shine-background: linear-gradient(
  90deg,
  #f4f4f4 0rem,
  rgba(229, 229, 229, 0.8) 2.52rem,
  #f4f4f4 5.04rem
);

$line-height-small: 1.008rem;
$line-height-medium: 2.25rem;

$border-width-small: 0.063rem;
$border-width-medium: 0rem;

$border-radius-small: 0.25rem;
$border-radius-medium: 0.441rem;
$border-radius-large: 0.5rem;

$animation-duration: 2s;

//for loader purpose-----
.admin-middle-container-wrapper > span {
  display: block;
  margin: 0 auto;
}

.load-table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: $border-color;
  width: 100%;

  td {
    padding: $padding-small;
    border-style: solid;
    border-width: $border-width-medium;
    overflow: hidden;
    word-break: normal;
    border-color: $border-color;
    color: $font-color;
    background-color: $background-color;

    &:first-child {
      display: block;
    }
  }

  tr:first-child .load-table-td {
    font-weight: normal;
    padding: $padding-small;
    border-style: solid;
    border-width: $border-width-medium;
    overflow: hidden;
    word-break: normal;
    border-color: $border-color;
    color: $font-color;
    background-color: $head-row-background;
  }
}

.line {
  float: left;
  width: 100%;
  height: $line-height-small;
  margin-top: $padding-small;
  border-radius: $border-radius-medium;
  background-image: $shine-background;
  background-size: 37.8rem;
  animation: shine-lines $animation-duration infinite ease-out;
}

@keyframes shine-lines {
  0% {
    background-position: -$line-height-small;
  }
  40%,
  100% {
    background-position: 8.82rem;
  }
}

.manage-stock-wrapper {
  padding: 0 !important; // Overwrite common.css file css to set padding
  gap: 0.5rem !important; // Overwrite common.css file css to set padding
}

.admin-middle-container-wrapper {
  .admin-backend-datatable-wrapper {
    .rdt_TableHeadRow {
      border: none !important; // to adjust default border on datatable
      border-bottom: 0;
      margin: 0 !important; // to adjust datatable margin from all side
      border-radius: 0 !important; // to adjust datatable birder-radius
    }

    .sc-dmlpXa.koyZDM {
      border-radius: 0.25rem;
      border: 0.063rem solid rgba($color: #000000, $alpha: 0.3);
    }

    .rdt_Table {
      *{
        font-size: 0.85rem;
      }
      .rdt_TableBody {
        .rdt_TableRow {
          padding: 0.625rem 0;
          font-size: 0.95rem !important; // to adjust datatable fontsize
          border-radius: 0;
          margin: 0 !important; // to adjust datatable margin
          border-left: 0;
          border-right: 0;

          &:nth-child(-2n + 4) {
            border: none !important; // to adjust datatable row border
          }
        }
      }
    }

    .rdt_Pagination {
      margin: 1rem 0;
      gap: 0.625rem;
    }
  }

  .rdt_TableCell {
    width: 100%;

    .custome-toggle-default {
      width: fit-content !important; // to adjust toggle btn width
      min-width: 6.25rem !important; // to adjust toggle btn min-width
      top: -0.75rem;
    }
  }
}

#admin-stockmanager {
  .admin-middle-container-wrapper {
    .admin-wrap-bulk-all-date {
      input,
      textarea {
        outline: none !important;
        border: none !important;
        box-shadow: 0 0 0 0.025rem #2271b1 !important; // to adjust box shadow for input tag and textarea for all stockmanager
        &:focus {
          outline: none !important;
          border: none !important;
          box-shadow: 0 0 0 0.025rem #2271b1 !important; // to adjust box shadow for input tag and textarea for all stockmanager
        }
      }

      .custom-select{
        select{
          box-shadow: 0 0 0 0.025rem #2271b1 !important;
        }
      }
    }

    input:focus,
    textarea:focus {
      outline: none !important; // to adjust box shadow for input tag and textarea for all stockmanager
      box-shadow: none !important; // to adjust box shadow for input tag and textarea for all stockmanager
    }

    select {
      .custom-select {
        display: flex;
        align-items: center;
        font-weight: normal;
        border: $manageStock-border;
        border-radius: $manageStock-border-radius;
        height: 2.5rem;
        position: relative;
        background-color: $manageStock-fill-color;
        cursor: pointer;
      }

      &:focus {
        color: inherit;
        border: none !important; // Adjust border as none to overwrite default border
        box-shadow: none;
      }

      &:hover {
        color: inherit;
      }
    }
  }

  td {
    &:hover {
      .edit-btn-product {
        opacity: 1;
      }
    }
  }

  tr.expand {
    background-color: #f7fcff !important; // force to set background color for variable product only
    border: 0.063rem solid rgb(172, 172, 172);

    &:first-child {
      border-bottom: none !important; // force to set border color for first variable product only
    }

    &:last-child {
      border-top: none !important; // force to set border color for last variable product only
    }
  }
}

.manage-stock-container {
  select {
    -webkit-appearance: none;
    border: none !important; // To overwrite default wordpress css
    width: 100%;
    background: #fff0 url("../../assets/images/download.svg") no-repeat right
      0.315rem top 55%;
      font-size: 0.85rem;
  }
}

.import-export-btn {
  display: flex;
  align-items: center;
  border: 0.063rem solid #d4d1d9;
  background-color: #65438f;
  color: #f9f8fb;
  border-radius: 0.25rem;
  padding: 0.5rem 1.25rem;
  position: relative;
  font-size: 0.9rem;
  width: fit-content;
  margin-left: auto;

  .wp-menu-image::before {
    padding: 0;
    padding-right: 0.313rem;
  }
}

.table-image {
  border-radius: 0.313rem;
  overflow: hidden;
  border: 0.125rem solid rgba($color: #000000, $alpha: 0.3);
  width: 4.375rem;
  height: 4.375rem;
  margin: 0 !important; // to adjust product image margin
}

.export,
.import {
  padding-bottom: 0.5rem;
}

.input-field-edit {
  border: none !important; // to adjust input field border for stock manager
  outline: none !important; // to adjust input field boutline for stock manager
}

.outofstock {
  color: red !important; // to adjust stock status as there current status
}

.instock {
  color: green !important; // to adjust stock status as there current status
}

.onbackorder {
  color: #e0a100 !important; // to adjust stock status as there current status
}

.import-export-btn {
  a {
    color: $manageStock-font-white;
    display: flex;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      box-shadow: none;
      text-decoration: none;
    }
  }
}

.custome-toggle label {
  position: absolute !important; // to adjust custome toggle btn lable position
  cursor: pointer;
  text-indent: -624.938rem;
  width: 2.5rem;
  height: 1.188rem;
  background: grey;
  display: block;
  border-radius: 6.25rem;
  position: relative;
  background: #c0c0c0;
  top: 0;
  left: 0;
}

.admin-notic-display-title {
  background-color: #bf6290;
  color: $manageStock-fill-color;
  padding: 0.5rem 1rem;
  border-radius: 0.12rem;
  position: fixed;
  top: 15%;
  right: 1rem;
  z-index: 9999;

  i {
    margin-right: 0.25rem;
  }
}

.setting-btn {
  width: 1.563rem;
  height: 1.563rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: #65438f;
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;

  .bar {
    width: 50%;
    height: 0.125rem;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.125rem;

    &::before {
      content: "";
      width: 0.125rem;
      height: 0.125rem;
      background-color: rgb(126, 117, 255);
      position: absolute;
      border-radius: 50%;
      border: 0.063rem solid white;
      transition: all 0.3s;
      box-shadow: 0rem 0rem 0.313rem white;
    }
  }

  .bar1 {
    &::before {
      transform: translateX(-0.25rem);
    }
  }

  .bar2 {
    &::before {
      transform: translateX(0.25rem);
    }
  }

  &:hover {
    .bar1 {
      &::before {
        transform: translateX(0.25rem);
      }
    }

    .bar2 {
      &::before {
        transform: translateX(-0.25rem);
      }
    }
  }
}

.edit-btn-product {
  width: 1.563rem;
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 0;
  transition: opacity 0.2s linear;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
  }
}

.table-row-meta-data {
  input {
    width: 100%;
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
  }

  input.active {
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
  }
}

.admin-backend-datatable-wrapper {
  overflow-x: scroll;

  &::-webkit-scrollbar {
    margin: 0;
    height: 0.504rem;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #522c81;
  }

  table {
    border-radius: 0.25rem;
    border: 0.063rem solid rgba(0, 0, 0, 0.24);
    width: 100%;

    input {
      padding: 0;
    }

    thead {
      border-radius: 0.25rem;
      background-color: rgb(236, 236, 236);
    }

    tbody {
      tr {
        &:nth-child(even) {
          background: rgb(247, 247, 247);
        }

        &:nth-child(odd) {
          background: rgb(255, 255, 255);
        }

        .table-row {
          &:first-child {
            min-width: 2.5rem;
            max-width: 2.5rem;
          }
        }
      }
    }
  }
}

.table-row.product_image {
  max-width: 5rem;
  min-width: 4.375rem;

  .table-data-container .table-row-meta-data {
    width: 100%;
  }
}

.table-row.product_sku {
  max-width: 7.5rem;
  min-width: 6.25rem;
}

.table-row.product_name {
  max-width: 12.5rem;
  min-width: 7.5rem;
}

.table-row.product_type {
  max-width: 6.25rem;
  min-width: 5rem;

  .table-row-meta-data {
    width: 100%;
  }
}

.table-row.product_manage_stock {
  max-width: 5rem;
  min-width: 5rem;
}

.table-row.product_stock_quantity {
  max-width: 7.5rem;
  min-width: 7.5rem;
}

.table-row.product_stock_status {
  min-width: 8.125rem;
  .table-row-meta-data {
    width: 100%;
    justify-content: flex-start;
  }
}

.table-row.product_manage_stock .table-data-container .table-row-meta-data,
.table-row.product_backorders .table-data-container .table-row-meta-data {
  width: 100%;
  justify-content: flex-start;
}

.table-row.product_manage_stock
  .table-data-container
  .table-row-meta-data
  .custome-toggle-default {
  left: 10%;
}

.table-row.product_backorders {
  max-width: 5.625rem;
  min-width: 5.625rem;
}

.table-row {
  min-width: 5rem;
  max-width: 9.375rem;
  padding: 0.313rem;
  text-align: center;
  font-size: 0.95rem;
}

.table-head {
  font-weight: 500;

  .table-row {
    &:first-child {
      min-width: 2.25rem;
      max-width: 2.25rem;
    }
  }
}

.table-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-row-meta-data {
  width: calc(100% - 1.563rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  h1 {
    display: none;
  }
}

.product_image .table-data-container .table-row-meta-data h1,
.product_name .table-data-container .table-row-meta-data h1 {
  display: none;
}

.table-row-meta-data {
  img {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.313rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  }
}

.table-row.product-product_name .table-row-meta-data h1 {
  display: none !important; // force to display none for all product table heading on desktop screen size
}

.product_manage_stock .table-data-container {
  justify-content: flex-start;
}

.product_stock_status .table-row-meta-data {
  width: 100%;
}

.dropdown_btn {
  position: absolute;
  top: 1.25rem;
  right: 0.938rem;
  display: none;
  border-radius: 0.188rem;

  button {
    width: 1.563rem;
    height: 1.563rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      transition: transform 0.3s linear;
    }
  }
}

.dropdown_btn.active button svg {
  transform: rotate(90deg);
}

.table-data-container .table-row-meta-data p {
  width: 100%;
  display: block;
  font-size: 0.85rem;
  color: rgb(44, 51, 56);
}


.table-row.product_stock_quantity .table-row-meta-data p {
  padding-right: 1.5rem;
}

.custome-toggle-default input {
  width: 3.125rem;
}

@media only screen and (max-width: 85.365rem) {
  .table-data-container .table-row-meta-data p {
    text-align: left;
  }

  .admin-backend-datatable-wrapper {
    thead {
      tr {
        padding: 0.313rem;
        display: block;
        td {
          display: none;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: inline-flex;
          }
        }
      }
    }
    tbody {
      tr {
        padding: 0.313rem;
        display: block;
        position: relative;
        max-height: 4.375rem;
        transition: max-height 0.4s linear;
        overflow: hidden;

        td.table-row {
          max-width: 100% !important; // force to set width for laptop screen
          display: block;
          background: rgb(238, 238, 238);
        }

        td {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            background: transparent;
            display: inline-block !important; // force to set display type for laptop screen
            .table-data-container {
              justify-content: center;
              padding: 0;
            }
          }
          .table-data-container {
            justify-content: flex-start;
            padding: 0.313rem 0.625rem;
          }
        }
      }
      tr.active {
        max-height: 62.5rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          margin: 0;
          width: 0.313;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #522c81;
        }
      }
    }
  }

  .table-row-meta-data {
    max-width: 18.75rem;
    h1 {
      display: block;
      font-size: 0.95rem;
      font-weight: 500;
      min-width: 7.5rem;
      text-align: left;
    }
  }

  .custome-toggle-default {
    left: 0 !important; // force to set position for laptop screen
    z-index: 99;
  }

  .table-row.product_stock_status .table-row-meta-data {
    justify-content: flex-start;
  }

  .table-row-meta-data input {
    text-align: left;
  }

  .dropdown_btn {
    display: block;
  }

  .table-row.product_sku {
    margin-top: 0.625rem;
  }
}

@media only screen and (max-width: 35.28rem) {
  .admin-backend-datatable-wrapper tbody tr td:nth-child(3) {
    max-width: 8.75rem !important; // force to set width for mobile screen
  }
}

.admin-backend-datatable-wrapper {
  & > .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem;
    flex-wrap: wrap;
    gap: 0.5rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      label {
        display: block;
        width: 6.25rem;
      }

      #rowsPerPage {
        width: 4.375rem;
      }
    }

    .pagination {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      gap: 0.5rem;

      li {
        margin-bottom: 0;

        a {
          display: block;
          padding: 0.5rem 1rem;
          color: #522c81;
          background: white;
          text-transform: capitalize;
          border-radius: 0.25rem;
          cursor: pointer;
          border: 0.063rem solid white;
          box-shadow: 0 0 0.625rem rgba($color: #000000, $alpha: 0.164);
          text-decoration: none;
        }
      }
      li.selected {
        border: 0.063rem solid #522c81;
      }
      li.disabled {
        a {
          background: #4949495b;
          cursor: not-allowed;
          color: white;
        }
      }
    }
  }
}

.custom-select select {
  min-height: auto !important; // force to set min height for custome select for make it resposive
}

.table-row.product_stock_status .table-row-meta-data p,
.table-row.product_backorders .table-row-meta-data p {
  padding-left: 0.625rem;
  text-align: left;
  font-size: 0.85rem;
}

.inventory-manager {
  background-image: url("../../assets/images/inventory-manager-monitor.png") !important; // force to set image for ungrade with pro for desktop-screen
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  height: 100vh;
}

@media only screen and (max-width: 69.3rem) {
  .inventory-manager {
    background-image: url("../../assets/images/inventory-manager-laptop.jpeg") !important; // force to set image for ungrade with pro for laptop-screen
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}

@media only screen and (max-width: 48.321rem) {
  .MuiPaper-root {
    padding: 1rem;
  }

  .css-ypiqx9-MuiDialogContent-root {
    padding: 0 !important; // to adjust padding for dailog box child element
  }
}

@media only screen and (max-width: 40.95rem) {
  .inventory-manager {
    background-image: url("../../assets/images/inventory-manager-phone.jpeg") !important; // force to set image for ungrade with pro for mobile-screen
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}

@media only screen and (max-width: 35.721rem) {
  .admin-image-overlay .admin-banner-content p {
    max-width: 80%;
  }
}

.table-row-meta-data select option {
  color: black !important; // force to set default color for only option tag
}

.expand .table-row.product_name .table-data-container .edit-btn-product {
  display: none !important; // force to set display as none for variable product edit button
}