$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f4f1f7;
$color-active: #65438f;


.admin-middle-container-wrapper{
  .title-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
    position: relative;
    flex-wrap: wrap;
    gap: 0.5rem;

    p{
      font-size: 1.5rem;
    }

    .stock-reports-download{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      .import-export-btn{
        border-radius: 0.25rem;
        background-color: $color-active;
        padding: 0.75rem 1.25rem;
        
        a{
          color: $color-white;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          text-decoration: none;

          .dashicons-before {
            &::before{
              padding: 0;
            }
          }
        }
      }
    }
  }

  .manage-stock-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .admin-wrap-bulk-all-date{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 0.5rem;
      flex-wrap: wrap;
      max-width: 600px;
      input,select,textarea{
        background-color: transparent !important; // To overwrite default wordpress css
        border: 0.115rem solid rgba(0, 0, 0, 0.125) !important; // To overwrite default wordpress css
        border-radius: 0.25rem !important; // To overwrite default wordpress css

        &:focus{
          box-shadow: none;
        }
      }

      & > div{
        flex: 1 0 130px;

        input, select{
          width: 100%;
          padding: 0.25rem 0.5rem;
        }
      }
    }
  }

  .manage-stock-table{
    width: 100%;


    input,select{
      background: transparent;
      border: none;
      outline: none;
      box-shadow: none;
      padding: 0;
      font-size: 0.938rem;
      
      &:focus{
        box-shadow: none !important; // To overwrite default wordpress css
      }
  }
    
  select{
    background: transparent url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 5px top 55%;
    padding-right: 30px;
    font-size: 0.85rem;
  }
  
  }
}

.setting-btn {
  width: 1.563rem;
  height: 1.563rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: #65438f;
  border-radius: 0.313rem;
  cursor: pointer;
  border: none;

  .bar {
    width: 50%;
    height: 0.125rem;
    background-color: rgb(229, 229, 229);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 0.125rem;

    &::before {
      content: "";
      width: 0.125rem;
      height: 0.125rem;
      background-color: rgb(126, 117, 255);
      position: absolute;
      border-radius: 50%;
      border: 0.063rem solid white;
      transition: all 0.3s;
      box-shadow: 0rem 0rem 0.313rem white;
    }
  }

  .bar1 {
    &::before {
      transform: translateX(-0.25rem);
    }
  }

  .bar2 {
    &::before {
      transform: translateX(0.25rem);
    }
  }

  &:hover {
    .bar1 {
      &::before {
        transform: translateX(0.25rem);
      }
    }

    .bar2 {
      &::before {
        transform: translateX(-0.25rem);
      }
    }
  }
}

.edit-btn-product {
  width: 1.563rem;
  display: flex;
  padding: 0;
  margin: 0;
  background: transparent;
  opacity: 0;
  transition: opacity 0.2s linear;
  align-items: center;
  justify-content: center;

  svg {
    width: 1rem;
  }
}


.table-row-meta-data {
  input {
    width: 100%;
    text-align: center;
    background: transparent;
    outline: none;
    border: none;
  }

  input.active {
    border:  0.125rem solid rgba($color: $color-active, $alpha: 0.125);
  }
}

.admin-backend-datatable-wrapper {

  &::-webkit-scrollbar {
    margin: 0;
    height: 0.504rem;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #522c81;
  }

  table {
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.125);
    width: 100%;

    input {
      padding: 0;
    }

    thead {
      border-radius: 0.25rem;
      background-color: $color-white;
      font-size: 0.9rem;
    }

    tbody {
      tr {
        background: $color-white;
        &:nth-child(odd) {
          background: $body-background;
        }

        .table-row {
          font-size: 0.85rem;
          &:first-child {
            min-width: 2.5rem;
            max-width: 2.5rem;
          }
        }
      }
    }
  }
}

.table-row.product_image {
  max-width: 5rem;
  min-width: 4.375rem;

  .table-data-container .table-row-meta-data {
    width: 100%;
  }
}

.table-row.product_sku {
  max-width: 7.5rem;
  min-width: 6.25rem;
}

.table-row.product_name {
  max-width: 12.5rem;
  min-width: 7.5rem;
}

.table-row.product_type {
  max-width: 6.25rem;
  min-width: 5rem;

  .table-row-meta-data {
    width: 100%;
  }
}

.table-row.product_manage_stock {
  max-width: 5rem;
  min-width: 5rem;
}

.table-row.product_stock_quantity {
  max-width: 7.5rem;
  min-width: 7.5rem;
}

.table-row.product_stock_status {
  min-width: 8.125rem;
  .table-row-meta-data {
    width: 100%;
    justify-content: flex-start;

  }
}

.table-row.product_manage_stock .table-data-container .table-row-meta-data,
.table-row.product_backorders .table-data-container .table-row-meta-data {
  width: 100%;
  justify-content: flex-start;
}

.table-row.product_manage_stock
  .table-data-container
  .table-row-meta-data
  .custome-toggle-default {
  left: 10%;
}

.table-row.product_backorders {
  max-width: 5.625rem;
  min-width: 5.625rem;
}

.table-row {
  min-width: 5rem;
  max-width: 9.375rem;
  padding: 0.313rem;
  text-align: center;
  font-size: 0.95rem;
}

.table-head {
  font-weight: 400;

  .table-row {
    &:first-child {
      min-width: 2.25rem;
      max-width: 2.25rem;
    }
  }
}

.table-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-row-meta-data {
  width: calc(100% - 1.563rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  h1 {
    display: none;
  }
}

.product_image .table-data-container .table-row-meta-data h1,
.product_name .table-data-container .table-row-meta-data h1 {
  display: none;
}

.table-row-meta-data {
  img {
    width: 50px;
    height: 50px;
    padding: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 .125rem rgba($color: #000000, $alpha: 0.125);
  
  }
}

.table-row.product-product_name .table-row-meta-data h1 {
  display: none !important; // force to display none for all product table heading on desktop screen size
}

.product_manage_stock .table-data-container {
  justify-content: flex-start;
}

.product_stock_status .table-row-meta-data {
  width: 100%;
}

.dropdown_btn {
  position: absolute;
  top: 1.25rem;
  right: 0.938rem;
  display: none;
  border-radius: 0.188rem;

  button {
    width: 1.563rem;
    height: 1.563rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      transition: transform 0.3s linear;
    }
  }
}

.dropdown_btn.active button svg {
  transform: rotate(90deg);
}

.table-data-container .table-row-meta-data p {
  width: 100%;
  display: block;
  font-size: 0.85rem;
  color: rgb(44, 51, 56);
}


.table-row.product_stock_quantity .table-row-meta-data p {
  padding-right: 1.5rem;
}

.custome-toggle-default input {
  width: 3.125rem;
}

@media only screen and (max-width: 85.365rem) {
  .table-data-container .table-row-meta-data p {
    text-align: left;
  }

  .admin-backend-datatable-wrapper {
    thead {
      tr {
        padding: 0.313rem;
        display: block;
        td {
          display: none;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            display: inline-flex;
          }
        }
      }
    }
    tbody {
      tr {
        padding: 0.313rem;
        display: block;
        position: relative;
        max-height: 4.375rem;
        transition: max-height 0.4s linear;
        overflow: hidden;

        td.table-row {
          max-width: 100% !important; // force to set width for laptop screen
          display: block;
          background: rgb(238, 238, 238);
        }

        td {
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            background: transparent;
            display: inline-block !important; // force to set display type for laptop screen
            .table-data-container {
              justify-content: center;
              padding: 0;
            }
          }
          .table-data-container {
            justify-content: flex-start;
            padding: 0.313rem 0.625rem;
          }
        }
      }
      tr.active {
        max-height: 62.5rem;
        overflow-y: auto;

        &::-webkit-scrollbar {
          margin: 0;
          width: 0.313;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #522c81;
        }
      }
    }
  }

  .table-row-meta-data {
    max-width: 18.75rem;
    h1 {
      display: block;
      font-size: 0.95rem;
      font-weight: 400;
      min-width: 7.5rem;
      text-align: left;
    }
  }

  .custome-toggle-default {
    left: 0 !important; // force to set position for laptop screen
    z-index: 99;
  }

  .table-row.product_stock_status .table-row-meta-data {
    justify-content: flex-start;
  }

  .table-row-meta-data input {
    text-align: left;
  }

  .dropdown_btn {
    display: block;
  }

  .table-row.product_sku {
    margin-top: 0.625rem;
  }
}

@media only screen and (max-width: 35.28rem) {
  .admin-backend-datatable-wrapper tbody tr td:nth-child(3) {
    max-width: 8.75rem !important; // force to set width for mobile screen
  }
}

.admin-backend-datatable-wrapper {
  & > .pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.75rem;
    flex-wrap: wrap;
    gap: 0.5rem;

    div {
      display: flex;
      align-items: center;
      justify-content: center;

      label {
        display: block;
        width: 6.25rem;
      }

      #rowsPerPage {
        width: 4.375rem;
      }
    }

    .pagination {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
      gap: 0.5rem;

      li {
        margin-bottom: 0;

        a {
          display: block;
          padding: 0.5rem 1rem;
          color: #522c81;
          background: white;
          text-transform: capitalize;
          border-radius: 0.25rem;
          cursor: pointer;
          border: 0.063rem solid white;
          box-shadow: 0 0 0.625rem rgba($color: #000000, $alpha: 0.164);
          text-decoration: none;
        }
      }
      li.selected {
        border: 0.063rem solid #522c81;
      }
      li.disabled {
        a {
          background: #4949495b;
          cursor: not-allowed;
          color: white;
        }
      }
    }
  }
}

.custom-select select {
  min-height: auto !important; // force to set min height for custome select for make it resposive
}

.table-row.product_stock_status .table-row-meta-data p,
.table-row.product_backorders .table-row-meta-data p {
  text-align: left;
  font-size: 0.85rem;
}

.inventory-manager {
  background-image: url("../../assets/images/inventory-manager-monitor.png") !important; // force to set image for ungrade with pro for desktop-screen
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  height: 100vh;
}

@media only screen and (max-width: 69.3rem) {
  .inventory-manager {
    background-image: url("../../assets/images/inventory-manager-laptop.jpeg") !important; // force to set image for ungrade with pro for laptop-screen
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}

@media only screen and (max-width: 48.321rem) {
  .MuiPaper-root {
    padding: 1rem;
  }

  .css-ypiqx9-MuiDialogContent-root {
    padding: 0 !important; // to adjust padding for dailog box child element
  }
}

@media only screen and (max-width: 40.95rem) {
  .inventory-manager {
    background-image: url("../../assets/images/inventory-manager-phone.jpeg") !important; // force to set image for ungrade with pro for mobile-screen
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
  }
}

@media only screen and (max-width: 35.721rem) {
  .admin-image-overlay .admin-banner-content p {
    max-width: 80%;
  }
}

.table-row-meta-data select option {
  color: black !important; // force to set default color for only option tag
}

.expand .table-row.product_name .table-data-container .edit-btn-product {
  display: none !important; // force to set display as none for variable product edit button
}

tr.expand {
  background-color: #f7fcff !important; // force to set background color for variable product only
  border: 0.063rem solid rgb(172, 172, 172);

  &:first-child {
    border-bottom: none !important; // force to set border color for first variable product only
  }

  &:last-child {
    border-top: none !important; // force to set border color for last variable product only
  }
}

.outofstock {
  color: red !important; // to adjust stock status as there current status
}

.instock {
  color: green !important; // to adjust stock status as there current status
}

.onbackorder {
  color: #e0a100 !important; // to adjust stock status as there current status
}

.table-row{
  &:hover{
    .edit-btn-product{
      opacity: 1;
    }
  }
}