$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f9f8fb;
$color-active: #65438f;
$theme-color: #522c81;

.general-wrapper {
  nav.admin-panel-nav {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    display: flex;
    margin-bottom: 1.25rem;

    button {
      width: 2.25rem;
      height: 2.25rem;
      background: $menu-btn-color;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      font-size: 1rem;
      color: $color-white;
    }

    .brand {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;

      span{
        display: flex;
        align-items: center;
        img {
          width: 6.3rem;
          height: 100%;
          object-fit: contain;
          object-position: center;
          margin-left: 0.25rem;
        }
      }

      p {
        font-size: 1.75rem;
        font-weight: 400;
        width: fit-content;
      }
    }
  }

  .middle-container-wrapper {
    border-top: 0.063rem solid rgba($color: $color-active, $alpha: 0.3);
    .middle-child-container {
      position: relative;
      display: grid;
      grid-template-columns: 16.38rem 1fr;
      gap: 0.5rem;
      align-items: flex-start;
      margin-top: 2rem;

      &.showMenu{
        grid-template-columns: 3.15rem 1fr;
      }

      .current-tab-lists {
        background-color: #fdfdfe;
        width: 100%;
        height: 100%;
        padding: 2.75rem 0;

        .current-tab-lists-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: flex-start;
          position: relative;

          a,
          .menu-coll-btn {
            padding: 0.75rem 1rem;
            background: transparent;
            width: 100%;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            gap: 0.5rem;
            font-weight: 400;
            color: rgba($color: #3f3f3f, $alpha: 0.7);
            transition: all 0.3s linear;
            position: relative;

            &:hover{
              background: $body-background;
              &::before{
                background-color: $color-active;
              }
            }

            &::before {
              border-bottom-right-radius: 0.378rem;
              border-top-right-radius: 0.378rem;
              content: "";
              height: 65%;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              position: absolute;
              width: 0.189rem;
              background-color: transparent;
              transition: all 0.3s linear;
            }

            &:focus {
              box-shadow: none;
            }

            &:hover {
              color: $color-active;
            }

            i {
              font-size: 1.2rem;
            }
          }

          .menu-coll-btn {
            i {
              font-size: 1rem;
            }
          }

          .active-current-tab {
            color: $color-active;
            background-color: $body-background;

            &::before {
              background-color: $color-active;
            }
          }

          .menu-close{
            display: none;
            position: absolute;
            width: 2.25rem;
            height: 2.25rem;
            top: 1.26rem;
            font-size: 1.15rem;
            right: 0.63rem;
            border-radius: 0.5rem;
            background-color: #f9fafb;
            color: #65438f;
            border: none;
            outline: none;
            align-items: center;
            justify-content: center;
          }

          .tab-wrapper{
            width: 100%;

            .subtab-wrapper{
              padding-left: 1rem;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              align-items: flex-start;
              position: relative;
              max-height: 0;
              overflow: hidden;
              transition: max-height 0.3s linear  ;
              
              &.active{
                max-height: 50rem;
                height: auto;
              }
            }
          }
        }
      }      

      .tab-content {
        border: 0.05rem solid rgba(82, 44, 129, 0.09);
        width: 100%;

        .tab-description-start{
            background: #f9f8fb;
            padding: 1rem 2rem;

            .tab-name{
                font-size: 1.25rem;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0.75rem;
            }

            p{
              font-size: 0.938rem;
            }
        }
      }
    }
  }
}

@media screen and (max-width: 50.211rem) {
  .general-wrapper {
    nav.admin-panel-nav {
      button {
        display: flex;
      }

      .brand {
        span{
          display: none;
        }
      }
    }
    .middle-container-wrapper{
      .middle-child-container {
        grid-template-columns: 1fr;
        .current-tab-lists{
          position: fixed;
          top: 0;
          max-width: 100%;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.7);
          z-index: 999999;
          transition: all 0.3s linear;
          padding: 0;

          &.active{
            left: 0;
          }

          .current-tab-lists-container{
            max-width: 31.5rem;
            background-color: $color-white;
            height: 100%;
            padding-top: 3.78rem;
            padding-left: 0.315rem;

            .menu-close{
              display: flex;
            }

            .menu-coll-btn{
              display: none;
            }
          }
        }
      }
    }
  }
}

.support-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 63.0rem;
  margin: auto;
  margin-top: 1.5rem;

  .card-item {
    padding: 1.5rem;
    flex: 1 0 12.6rem;
    height: 10.71rem;
    border: 0.005rem solid $theme-color;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow:
      0.63rem 0.63rem 1.26rem #ededed,
      -0.63rem -0.63rem 1.26rem #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      
      &:hover{
        background: linear-gradient(-145deg, #ffffff, #e6e6e6);
      }

      i{
        font-size: 2rem;
        color: $theme-color;
        margin-bottom: 0.75rem;
      }
      
      a{
        font-size: 1.25rem;
        margin-bottom: 0.5rem;
        text-align: center;
        display: block;
        color: $theme-color;
      }

      p{
        font-size: 0.85rem;
        text-align: center;
      }
  }
}