$menu-btn-color: #522c81;
$body-background: #f9f9f9;
$color-white: #fff;
$menu-color: #f4f1f7;
$color-active: #65438f;

.general-wrapper {
  nav.admin-panel-nav {
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    display: flex;
    margin-bottom: 1.25rem;

    button {
      width: 2.25rem;
      height: 2.25rem;
      background: $menu-btn-color;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 0.25rem;
      font-size: 1rem;
      color: $color-white;
    }

    .brand {
      display: flex;
      align-items: flex-end;
      gap: 0.5rem;

      span{
        display: flex;
        align-items: center;
        img {
          width: 100px;
          height: 100%;
          object-fit: contain;
          object-position: center;
          margin-left: 0.25rem;
        }
      }

      p {
        font-size: 1.75rem;
        font-weight: 400;
        width: fit-content;
      }
    }
  }

  .middle-container-wrapper {
    border-top: 1px solid rgba($color: $color-active, $alpha: 0.3);
    .middle-child-container {
      position: relative;
      display: grid;
      grid-template-columns: 260px 1fr;
      gap: 0.5rem;
      align-items: flex-start;
      margin-top: 2rem;

      &.showMenu{
        grid-template-columns: 50px 1fr;
      }

      .current-tab-lists {
        background-color: $color-white;
        width: 100%;
        height: 100%;
        padding: 2.75rem 0;

        .current-tab-lists-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          align-items: flex-start;
          position: relative;

          a,
          .menu-coll-btn {
            padding: 0.75rem 1rem;
            background: transparent;
            width: 100%;
            font-size: 1rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-decoration: none;
            gap: 0.5rem;
            font-weight: 400;
            color: rgba($color: #3f3f3f, $alpha: 0.7);
            transition: all 0.3s linear;
            position: relative;

            &:hover{
              background: $body-background;
              &::before{
                background-color: $color-active;
              }
            }

            &::before {
              border-bottom-right-radius: 6px;
              border-top-right-radius: 6px;
              content: "";
              height: 65%;
              top: 50%;
              transform: translateY(-50%);
              left: 0;
              position: absolute;
              width: 3px;
              background-color: transparent;
              transition: all 0.3s linear;
            }

            &:focus {
              box-shadow: none;
            }

            &:hover {
              color: $color-active;
            }

            i {
              font-size: 1.2rem;
            }
          }

          .menu-coll-btn {
            i {
              font-size: 1rem;
            }
          }

          .active-current-tab {
            color: $color-active;
            background-color: $body-background;

            &::before {
              background-color: $color-active;
            }
          }

          .menu-close{
            display: none;
            position: absolute;
            width: 2.25rem;
            height: 2.25rem;
            top: 30px;
            font-size: 1.15rem;
            right: 10px;
            border-radius: 0.5rem;
            background-color: #f9fafb;
            color: #65438f;
            border: none;
            outline: none;
            align-items: center;
            justify-content: center;
          }
        }
      }      

      .tab-content {
        border: 0.05rem solid rgba(82, 44, 129, 0.09);
        width: 100%;

        .tab-description-start{
            background: $menu-color;
            padding: 1rem 2rem;

            .tab-name{
                font-size: 1.25rem;
                font-weight: 400;
                line-height: normal;
                margin-bottom: 0.75rem;
            }

            p{
              font-size: 0.938rem;
            }
        }
      }
    }
  }
}

@media screen and (max-width: 797px) {
  .general-wrapper {
    nav.admin-panel-nav {
      button {
        display: flex;
      }

      .brand {
        span{
          display: none;
        }
      }
    }
    .middle-container-wrapper{
      .middle-child-container {
        .current-tab-lists{
          position: fixed;
          top: 0;
          max-width: 100%;
          left: -100%;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.7);
          z-index: 999999;
          transition: all 0.3s linear;

          &.active{
            left: 0;
          }

          .current-tab-lists-container{
            max-width: 500px;
            background-color: $color-white;
            height: 100%;
            padding-top: 60px;
            padding-left: 5px;

            .menu-close{
              display: flex;
            }

            .menu-coll-btn{
              display: none;
            }
          }
        }
      }
    }
  }
}