.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  .rs-stack{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}
img.subscriber-img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
span.rs-picker-toggle-placeholder {
  display: none;
}

input.rs-picker-toggle-textbox {
  background-color: transparent;
  border: none;
  width: 13.375rem;
  line-height: 1.5rem;
}

.rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
  padding-right: 1rem;
}

.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}

.sc-evZas.dFsTSm {
  overflow: visible;
}

// // this is for date picker -----
.rs-calendar-table-header-cell {
  display: table-cell;
  width: 1%;
  padding: 0.063rem;
  text-align: center;
  vertical-align: middle;
}
