@font-face {
  font-family: 'admin-font';
  src:  url('fonts/admin-font.eot?uvhhhx');
  src:  url('fonts/admin-font.eot?uvhhhx#iefix') format('embedded-opentype'),
    url('fonts/admin-font.ttf?uvhhhx') format('truetype'),
    url('fonts/admin-font.woff?uvhhhx') format('woff'),
    url('fonts/admin-font.svg?uvhhhx#admin-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="font"], [class*=" font"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'admin-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-person:before {
  content: "\e520";
}

.woo-subscriber-list {
  .subscriber-container-wrapper {
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    padding-right: 1rem;
  }
}

.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  .rs-stack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}

img.subscriber-img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

span.rs-picker-toggle-placeholder {
  display: none;
}

input.rs-picker-toggle-textbox {
  background-color: transparent;
  border: none;
  width: 13.375rem;
  line-height: 1.5rem;
}

.rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
  padding-right: 1rem;
}

.rs-stack-item {
  svg {
    margin: 0 !important; // To overwrite react datepicker library css
  }
}

.rs-picker-default .rs-picker-toggle.rs-btn {
  padding-bottom: 0.25rem !important; // To overwrite react datepicker library css
  padding-top: 0.25rem !important; // To overwrite react datepicker library css
}

.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}

.sc-evZas.dFsTSm {
  overflow: visible;
}

// // this is for date picker -----
.rs-calendar-table-header-cell {
  display: table-cell;
  width: 1%;
  padding: 0.063rem;
  text-align: center;
  vertical-align: middle;
}

.download-btn-subscriber-list {
  display: flex;
  align-items: center;
  border: 0.063rem solid #d4d1d9;
  background-color: #65438f;
  color: #f9f8fb;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  position: relative;
  font-size: 0.9rem;
  width: fit-content;

  a {
    text-decoration: none;
    color: #f9f8fb;

    &:hover {
      text-decoration: none;
    }
  }
}

.rdt_Table {
  background-color: transparent !important; // To overwrite table.css default css

  .rdt_TableHeadRow {
    border: none !important; // To overwrite table.css default css
    background: #fff !important; // To overwrite table.css default css
    border-top-right-radius: 0 !important; // To overwrite table.css default css
    border-top-left-radius: 0 !important; // To overwrite table.css default css
  }


  .rdt_TableBody {
    .rdt_TableRow {
      margin: 0.5rem 0 0 !important; // To overwrite table.css default css
      border: none !important;
    }
  }
}

.rdt_Pagination {
  // background-color: transparent !important; // To overwrite table.css default css
  margin-top: 0.5rem;
  border: none !important; // To overwrite table.css default css
}

.sent{
  color: green;
}

.subscribed{
  color: #65438f;
}

.unsubscribed{
  color: red;
}
.table-row-custom img{
  width: 2.75rem;
  height: 3rem;
  padding: 0.25rem 0;
}

.rdt_TableCol, .rdt_TableCell{
  &:first-child{
    width: 5rem;
  }
} 

@media only screen and (max-width: 85.365rem) {
  .rdt_TableHead{
    .rdt_TableHeadRow{
      .rdt_TableCol{
        &:first-child{
          max-width: 5rem !important; // To overwrite table.scss max-width
        }
      }
    }
  }
  .rdt_TableRow{
    .rdt_TableCell{
      &:first-child{
        max-width: 5rem !important; // To overwrite table.scss max-width
        .table-row-custom{
          &:first-child{
            display: contents !important; // To overwrite table.scss display for img
          }
          img{
            height: 2rem;
            padding: 0;
          }
        }
      }
    }
  }
}