.woo-subscriber-list {
<<<<<<< HEAD
  .subscriber-container-wrapper {
=======
  .woo-middle-container-wrapper {
>>>>>>> c984b96 (react code clean)
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  .rs-stack {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}

img.subscriber-img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

span.rs-picker-toggle-placeholder {
  display: none;
}

input.rs-picker-toggle-textbox {
  background-color: transparent;
  border: none;
  width: 13.375rem;
  line-height: 1.5rem;
}

.rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
  padding-right: 1rem;
}

.rs-stack-item {
  svg {
    margin: 0 !important; // To overwrite react datepicker library css
  }
}

.rs-picker-default .rs-picker-toggle.rs-btn {
  padding-bottom: 0.25rem !important; // To overwrite react datepicker library css
  padding-top: 0.25rem !important; // To overwrite react datepicker library css
}

.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;

  & svg {
    margin-top: 0.25rem;
  }

  & span svg {
    margin-top: 0rem;
  }
}

.sc-evZas.dFsTSm {
  overflow: visible;
}

// // this is for date picker -----
.rs-calendar-table-header-cell {
  display: table-cell;
  width: 1%;
  padding: 0.063rem;
  text-align: center;
  vertical-align: middle;
}

.download-btn-subscriber-list {
  display: flex;
  align-items: center;
  border: 0.063rem solid #d4d1d9;
  background-color: #65438f;
  color: #f9f8fb;
  border-radius: 0.25rem;
  padding: 0.75rem 1.5rem;
  position: relative;
  font-size: 0.9rem;
  width: fit-content;

  a {
    text-decoration: none;
    color: #f9f8fb;

    &:hover {
      text-decoration: none;
    }
  }
}

.rdt_Table {
  background-color: transparent !important; // To overwrite table.css default css

  .rdt_TableHeadRow {
    border: none !important; // To overwrite table.css default css
    background: #fff !important; // To overwrite table.css default css
    border-top-right-radius: 0 !important; // To overwrite table.css default css
    border-top-left-radius: 0 !important; // To overwrite table.css default css
  }


  .rdt_TableBody {
    .rdt_TableRow {
      margin: 0.5rem 0 !important; // To overwrite table.css default css
      border: none !important;
    }
  }
}

.rdt_Pagination {
  background-color: transparent !important; // To overwrite table.css default css
  border: none !important; // To overwrite table.css default css
}