@font-face {
  font-family: 'woo-stock-alert';
  src:  url('fonts/woo-stock-alert.eot?mhdfd4');
  src:  url('fonts/woo-stock-alert.eot?mhdfd4#iefix') format('embedded-opentype'),
    url('fonts/woo-stock-alert.ttf?mhdfd4') format('truetype'),
    url('fonts/woo-stock-alert.woff?mhdfd4') format('woff'),
    url('fonts/woo-stock-alert.svg?mhdfd4#woo-stock-alert') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'woo-stock-alert' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-form-customization:before {
  content: "\e900";
}
.icon-form-submission:before {
  content: "\e901";
}
.icon-general:before {
  content: "\e902";
}
.icon-live-preview:before {
  content: "\e903";
}
.icon-email-setting:before {
  content: "\e904";
}
.icon-mailchimp-setting:before {
  content: "\e905";
}
 
  

  $base-color : #f2eff5;
  $boder-color : #d4d1d9;
  $border : 0.063rem solid #d4d1d9;
  $title-color : #181718;
  $paragraph-color : #5e5d60;
  $border-radius :  0.25rem;
  $button-border-radius :  0.25rem;
  $fill-color : #fdfdfe;
  $theme-color: #65438f;
  $header-background: #f7f6f9;
  $section-background:#fbfafc;
  $code-back:#fdf9fb;
  $code-line:#dfb1c7;
  $purple-btn-hover:#795b9d;
  $font-white:#f9f8fb;
  $grey-icon:#8e8b91;
  $rejected-vendor-font:#df5d65;
  $rejected-vendor-back:#fefbfc;
  $approve-font-color:#522c81;
  $red-btn-back:#e35047;
  $red-icon:#e26f76;
  $code-font:#b74f82;
  $small-code-back:#fbf5f8;
  $blue-icon:#9f8ab9;
  $scroll-color:#ece8f1;


  
  @mixin flexprops($align) {
    display: flex;
    align-items: $align;
  }
  @mixin staus {
    padding: 0.344rem 0.5rem;
    border-radius: $border-radius;
  }
  @mixin button {
    transition: all 0.3s ease;
    border-radius: $button-border-radius;
    padding: 0.594rem 1rem;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
  @mixin description {
    padding: 0.625rem 0 1.5rem;
    font-size: 0.75rem;
    color:$grey-icon;
  }
  @mixin scroll-height{
    &::-webkit-scrollbar{
      height: 0.5rem;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $scroll-color;
      border-radius: $border-radius;
    }
  }
  @mixin scroll-width {
    &::-webkit-scrollbar{
      width: 0.25rem;
    }
    &::-webkit-scrollbar-thumb{
      background-color: $scroll-color;
      border-radius: $border-radius;
    }
  }
  @mixin woo-addbtn {
    background: $theme-color;
    border-radius: $border-radius;
    a {
        color: $fill-color;
        &:hover {
            color: $fill-color;
            text-decoration: none;
        }
        i {
            padding-right: 0.5rem;
            font-size: 1.2rem;
        }
    }
  }
  @mixin commission-heading {
    font-size: 1rem;
    border: $border;
    background-color: $fill-color;
    padding: 1rem;
    margin: 1.5rem 0 0.25rem;
    border-radius: $border-radius;
  }
  @mixin back-btn {
    color: $title-color;
    vertical-align: middle;
    text-decoration: none;
    border: $border;
    padding: 0.5rem 1rem 0.5rem 0.6rem;
    border-radius: $border-radius;
   }
   @mixin toggle-btn-disable {
    input[type=checkbox]{
        height: 0;
        width: 0;
        visibility: hidden;
        display: none;
    }
    label {
        cursor: pointer;
        width: 3.3rem;
        height: 1.5rem;
        background: transparent;
        display: block;
        border-radius: 8rem;
        position: relative;
        border: 0.125rem solid $boder-color;
    }
    label:before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;
        width: 0.17rem;
        height: 0.57rem;
        background: $fill-color;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    label:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.313rem;
        width: 0.875rem;
        height: 0.875rem;
        background: $boder-color;
        border-radius: 90rem;
        transition: 0.3s;
        z-index: 1;
    }
    input:checked + label {
        background: $theme-color;
    }
    input:checked + label:after {
      left: calc(100% - 1.313rem);
      transform: translatey(-50%);
        background-color: $fill-color;
    }
    label:active:after {
        width: 1.25rem;
    }
  }
  @mixin toggle-btn {
      input[type=checkbox]{
          height: 0;
          width: 0;
          visibility: hidden;
          display: none;
      }
      label {
          cursor: pointer;
          width: 3.3rem;
          height: 1.5rem;
          background: transparent;
          display: block;
          border-radius: 8rem;
          position: relative;
          border: 0.125rem solid $boder-color;
      }
      label:before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.5rem;
          width: 0.17rem;
          height: 0.57rem;
          background: $fill-color;
          -webkit-transition: 0.3s;
          transition: 0.3s;
      }
      label:after {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0.313rem;
          width: 0.875rem;
          height: 0.875rem;
          background: $theme-color;
          border-radius: 90rem;
          transition: 0.3s;
          z-index: 1;
      }
      input:checked + label {
          background: $theme-color;
          border: 0.125rem solid $theme-color;
      }
      input:checked + label:after {
        left: calc(100% - 1.313rem);
        transform: translatey(-50%);
          background-color: $fill-color;
      }
      label:active:after {
          width: 1.25rem;
      }
  }
  @mixin select-input {
    border-radius: 0.25rem;
    width: 100%;
    padding: 0rem 0.75rem;
    color: $grey-icon;
    font-size: 0.875rem;
    border: $border;
    background-color:$fill-color;
    line-height: 2.375;
  }
  @mixin moduleicon {
      width: 3.5rem;
      height: 3.5rem;
      margin: auto;
      line-height: 4.125;
      background: rgb(63,20,115);
      background: linear-gradient(138deg, rgba(63,20,115,1) 0%, rgba(175,59,116,1) 50%, rgba(219,75,84,1) 100%);
      border-radius: $border-radius;
      margin-bottom: 1rem;
      & i {
          font-size: 1.5rem;
          color: $font-white;
      }
  }
  @mixin datepicker {
      width: 17.5rem;
      height:auto;
      background-color: $fill-color;
      margin-left: auto;
  }
  @mixin border {
      border: 0.063rem solid $boder-color;
  }
  @mixin iconcolor {
      color: $theme-color;
  }
  @mixin input {
    padding-left: 0.8rem;
    border: $border;
    border-radius: $border-radius;
    height: 2.5rem;
  }
  @mixin red-btn {
    background-color: $red-btn-back;
    color: $font-white;
    border: 0.06rem solid $red-btn-back;
    &:hover{
      background-color: #e6635b;
      color: $font-white;
    }
  }
  @mixin purple-btn {
    background-color: $theme-color;
    border: none;
    color: $font-white;
    &:hover{
      background-color: $purple-btn-hover;
      color: $font-white;
    }
  }
  @mixin border-btn {
    border: $border;
    color: $title-color;
    &:hover{
      border-color: $title-color ;
    }
  }

  //tab part start here
  .woo-container {
    background-color: #f2eff5;
    padding: 2rem 1.5rem;
    min-height: 54rem;
  }
  .woo-tab-banner-wrap {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

.woo-tab-description-start {
  text-align: center;
  background-color: $fill-color;
  border-radius: $border-radius;
  margin: 0 0 2rem 0;
  border: $border;
  padding: 2rem;
}
.woo-vertical-tabs {
  width:75%;
  & .woo-tab-description-start {
    background-color: $header-background;
  }
  .woo-middle-child-container{
    display: flex;
    flex-wrap:wrap;
  .woo-current-tab-lists{
    width: 22%;
    border-bottom: 0.06rem solid $boder-color;
    margin-right: -0.06rem;
    height: fit-content;
      & a {
        display: flex;
        align-items: center;
        background-color: $font-white;
        border: $border;
        transition: 0.3s;
        padding: 1rem 1.2rem;
        margin-bottom: 0;
        border-bottom: 0;
        text-decoration: none;
        color:$title-color;
        &:focus{
          box-shadow: none;
          outline: 0;
        }
        & i {
          padding-right: .5rem;
          color: $blue-icon;
        }
      }
      & .active-current-tab{
      background-color: $fill-color;
      position: relative;
          &:after {
            content: "";
            height: 100%;
            width: 0.076rem;
            background-color: #fdfdfe;
            right: -0.07rem;
            top: 0;
            position: absolute;
            z-index: 99;
        }
      }
  }
  & .woo-tab-content {
    width:63%;
    flex: auto;
    padding: 2.5rem;
    border: 0.063rem solid $boder-color;
    height: auto;
    min-height: 63rem;
    background-color: $fill-color;
    position:relative;
    input[type=text], input[type=url], input[type=email], input[type=number], input[type=text_api], textarea, select{
      width: 100%;
    }
    & .woo-dynamic-form {
      tr, th{
        height: 0;
        text-align: left;
      padding-bottom: 0.5rem;
      }
      th{
        font-weight:500;
      }
      td{
        height: 3.75rem;
        color: $paragraph-color;
      }
      .woo-form-button-group, .woo-form-actions {
        bottom: 0;
        position: absolute;
        width: 100%;
        padding: 1rem;
        right: 0;
        background-color: $section-background;
        border-top: 0.06rem solid $scroll-color;
        .woo-setting-section-divider{
          display: none;
        }
    }
      & .woo-form-group {
        display: flex;
        justify-content: space-between;
          flex-wrap: wrap;
          gap: 0.5rem;
        padding: 0.75rem 0;
        & .woo-settings-form-label {
          width: 28%;
          color: $title-color;
          word-wrap: break-word;
          & p {
            font-size: 0.875rem;
            color: $title-color;
          }
        }
        & .woo-settings-input-content {
          width: 65%;
          color: $paragraph-color;
          .woo-setting-form-input-label {
            margin-bottom: 0.5rem;
        }
          .woo-settings-woo-form-group-radio {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            .woo-radio-input-label-wrap input{
              margin: 0 0.5rem 0 0;
          }
        }
          & .woo-toggle-checkbox-content {
            margin-bottom: 0.625rem;
          }
          .woo-toggle-checkbox {
            width: 1rem;
            height: 1rem;
          }
          .woo-toggle-checkbox-content {
            margin-left: auto;
            position: relative;
            @include toggle-btn;
          }
          .woo-toggle-checkbox-content.disabled{
            @include toggle-btn-disable();
            &::after {
              border-color: $boder-color;
            }
          }
          .woo-toggle-checkbox-content, span.wc-wizard-service-toggle{
             &::after {
            content: '';
            position: absolute;
            top: 0.55rem;
            left: 2.3rem;
            width: 0.25rem;
            height: 0.25rem;
            transform: translateY(50%);
            border: 0.0625rem solid $theme-color;
            border-radius: 8rem;
            transition: 0.3s;
            z-index: 0;
          }
        }
          & .woo-settings-basic-input-class {
            & .woo-settings-basic-child-wrap {
              & .woo-settings-basic-input-child-class {
                margin: 0 0 1rem 0;
              }
            }
          }
        }
        .woo-settings-metabox-description {
          margin-top: 0.625rem;
          font-style: italic;
          font-size: 0.75rem;
          color: $grey-icon;
        }
        .woo-setting-file-uploader-class {
          .woo-btn {
            display: block;
            margin: 1rem 0 0 0;
          }
        }
      }
      & .woo-form-button-group {
        & .woo-settings-basic-input-class {
          & .default-btn {
            height: 2.5rem;
            background-color: $red-btn-back;
            width: 4.75rem;
            color:$font-white;
             float: right;
        }
        }
      }
    }
    .woo-form-group-radio-color {
      @include flexprops(center);
      flex-wrap: wrap;
      & .woo-settings-radio-color {
        margin: 0.5rem 1rem 0.5rem 0;
        width: calc(50% - 1rem);
        box-sizing: border-box;
        border: 0.063rem solid transparent;
        border-radius: $border-radius;
        transition: all 0.3s;
        .woo-merge-radio-color-input-label {
          padding: 0.5rem;
          input[type="radio"]{
            margin: 0rem 0.5rem 0 0;
          }
        }
        &:hover{
          background: $font-white;
        }
        & .color-palette  {
          width: 100%;
          border-spacing: 0;
          border-collapse: collapse;
          @include flexprops(center);
          margin-top: 0.5rem;
          & div {
            width: 25%;
            height: 0.875rem;
          }
        }
      }
    }
    .woo-radioselect-class {
      margin-bottom: 1.5rem;
      padding: 1rem;
      border-radius: $border-radius;
      border: 0.06rem solid $base-color;
      position: relative;
      transition: .4s all ease-in-out;
      & .woo-setting-form-input {
        position: absolute;
        top: 1.5rem;
        right: 0.813rem;
        border-radius: 0.125rem;
        opacity:0;
        input:focus{
          border: $border;
          box-shadow: none;
        }
        &:checked::before {
          content: '\e909';
          color: $fill-color;
          font-size: 0.625rem;
          background-color: $theme-color !important;//redio btn style
          border-radius: $border-radius;
      }
        &:checked{
          opacity: 1;
        }
    }
      & .woo-radio-select-under-label-class {
        & .woo-radioselect-overlay-text {
          @include flexprops(center);
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: #795b9d;
          color: $font-white;
          opacity: 0;
          justify-content: center;
          padding: 0.5rem;
          border-radius: $border-radius;
        }
       &:hover {
          & .woo-radioselect-overlay-text {
            opacity: 0.6;
          }
        }
      }
      & .woo-section-img-fluid {
        width: 100%;
        margin-top: 0.5rem;
      }
    }
    & .woo-multi-nested-class {
      & .woo-boarder-parent {
        @include flexprops(center);
        flex-wrap:wrap;
        gap:0.5rem;
        position:relative;
        label.woo-setting-form-label {
          width:25%;
      } .woo-setting-form-input{
        width:49%;
      }
            .woo-boarder-nested-child-start{
              position:relative;
              width:100%;
              .woo-boarder-nested-child-loop{
                @include flexprops(center);
                gap:0.5rem;
                margin-bottom: 0.5rem;
                width:95%;
              }               
            }
            & .woo-boarder-parent-loop {
              width: 100%;
              @include flexprops(center);
            }
        & .horizontal-class {
          @include flexprops(center);
          gap: 0.5rem;
          position: absolute;
          right: 0;
          top: 0;
          & .button-controls{
            margin: 0;
          }
          & .button-controls a, .button-secondary {
            background: transparent!important;// multi nested add button
            border-color:$title-color !important;// multi nested add button;
            margin:0.25rem 0;
            color: $title-color !important;// multi nested add button;
            min-width: 1.875rem;
            text-align:center;
            &:hover{
              text-decoration:none;
            }
          }
        }  }  }
    .woo-toggle-rectangle-merge {
      & ul {
        position: relative;
        padding: 0 0.4rem;
        border: $border;
        border-radius: 0.125rem;
        @include flexprops(center);
        overflow: hidden;
        width: max-content;
        margin: 0;
        & input:checked + label {
          background: $theme-color;
          color: $font-white;
          border-color: $theme-color;
        }
        & li {
          list-style-type: none;
          padding: 1rem 0.1rem;
          margin: 0;
          & input {
              display: none;
          }
          & label {
            color: $title-color;
            font-size: 1rem;
            line-height: 1;
            text-align: center;
            padding: 0.5rem 1rem;
            border-radius: 0.125rem;
            border: 0.06rem solid $boder-color;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
          }
        }
      }
    }
    & .woo-select-deselect-checkbox-content {
      & .woo-select-de-box-and-checkbox {
        & .woo-select-deselect-checkbox-label-marge {
          @include flexprops(center);
          flex-wrap: wrap;
          & .woo-wrap-checkbox-and-label {
            @include flexprops(center);
            margin: 0.5rem 0;
            & .woo-normal-checkbox-label {
              & .woo-settings-checkbox-description {
                margin: 0rem 0 0 0.5rem;
              }
            }
          }
          & .woo-col-50 {
            width: 50%;
          }
        }
      }
    }
    .woo-form-vendor-register {
      & .woo-top-part-registartion-from{
        & .woo-registration-content {
          & .woo-form-registration-group {
            padding: 2rem;
            background-color: $header-background;
            border-radius: 0.4rem;
            margin: 0.7rem 0;
            border: 0.0625rem solid $boder-color;
            & .woo-untitle-content {
              margin: 0 0 .5rem 0;
            }
          }
        }
      }
    }
    .woo-form-left-line-active{
      padding-bottom: 4.75rem !important;// to adjust form bottom
      background-color: $font-white;
    }
    .woo-top-part-registartion-from{
      ::placeholder{
        color: $title-color;
      } }
    .woo-top-part-registartion-from, .woo-form-vendor-register .woo-option-part.woo-form-left-line-active{
         input[type="text"]{
        font-size: 0.875rem;
        border: solid $boder-color;
        border-width: 0 0 0.06rem 0;
        border-radius: 0;
        background:transparent;
      }
    }
      .woo-form-vendor-register .woo-option-part{
        input[type="text"]{
          border: 0;
          background:transparent;
          &:focus{
            border: solid $boder-color;
            border-radius:0;
            border-width: 0 0 0.06rem 0;
          }
        }
      }
    .woo-form-vendor-register .woo-option-part, .woo-top-part-registartion-from  {
      padding: 1.5rem;
      border-radius: 0.25rem;
      border:0.06rem solid $base-color;
      margin: 0.7rem 0;
      position: relative;
      input[type="text"].woo-rgistration-form-title{
        font-size: 1.25rem;
      }
      input[type="text"].woo-question-title{
      &::placeholder{
          color: $title-color;
        } 
      }       
      & .woo-form-group{
        display: flex;
        flex-wrap: wrap;
      }
      & .woo-question-input-items {
          width: 100%;
          margin: 0 .5rem 0 0;
      }
      & .woo-vendor-form-input-field-container {
        margin: 0 0 .5rem 0;
        .woo-form-type-wrap {
          @include flexprops(center);
          gap: 1rem;
          padding:0.75rem 0;
          flex-wrap: wrap;
      }
        & select, input[type="number"]{
          margin: 0.5rem 0 0 0;
        }
        ul li{
          display: flex;
          column-gap: 0.8rem;
          padding: 1rem 0;
          input[type="radio"], input[type="checkbox"], .woo-close-icon{
            margin-top: 0.563rem;
        }
        }
        .purple-btn{
          text-decoration:underline;
          cursor: pointer;
        }
      }
      .woo-registration-fileds-description, .woo-registration-form-description{
        @include description();
        font-style:italic;
      }      
        & .woo-footer-icon-form {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              padding: 1rem;
              background-color: $section-background;
              border-top: 0.06rem solid $scroll-color;
              @include flexprops(center);
                  & .woo-perple-txt {
                    margin-left: auto;
                      & input[type="checkbox"] {
                        border:$border;
                        margin: 0 0.5rem 0.25rem;
                      }
                  }
                & .woo-font {
                  color: $theme-color;
                  padding: 0 0.5rem;
                  font-size: 1rem;
                  cursor: pointer;
                }
            }
        &  select {
          height: 2.5rem;
          @include select-input();
        }
    }
    .woo-option-part{
      &::before{
        position: absolute;
        content: "\e95b";
        font-family: 'woo-admin-font';
        color: $blue-icon;
        top: 0;
        left: 50%;
        transform: translateX(-50%)
      }
     
    }
  }
}
}
// short despition code
p.woo-settings-metabox-description-code {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background: $code-back;
  color: $code-font;
  border-radius:$border-radius;
  position:relative;
  &:before{
    position:absolute;
    content:"";
    left: 0;
    top: 0;
    width: 0.25rem;
    border-radius:0.25rem;
    background-color: $code-line;
    height: 100%;
  }
}
//loader---
.woo-tab-content > span{
  display: block;
  margin: 0 auto;
}
// setting saved 
.woo-notic-display-title {
  background-color: #bf6290;
  color: $font-white;
  padding: 0.5rem 1rem;
  border-radius: 0.12rem;
  position: fixed;
  top: 15%;
  right: 1rem;
  z-index: 9999;
  .woo-font{
    background-color: #c7769e;
    padding: 0.25rem;
    font-size:0.0.625rem;
    margin-right: 0.5rem;
    border-radius: 50%;
  }
}
.woo-notic-display-title span {
  background-color: $code-back;
  border-radius: 50%;
  padding: 0.1rem;
}
// header tab
.woo-container .woo-tab-name {
  color: #181718;
  font-size: 1.25rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
}

// responsive started here
@media only screen and (max-width: 992px) {
  .woo-tab-banner-wrap{
    justify-content: center;
    flex-wrap: wrap;
  }
  .woo-vertical-tabs {
    width: 100%;
    .woo-middle-child-container {
        .woo-current-tab-lists{
          width: 21%;
        }
    }
  }
}

@media only screen and (max-width: 767px) {
  .woo-vertical-tabs {
    .woo-middle-child-container {
        .woo-current-tab-lists{
          width: 100%;
        }
        .woo-tab-content {
          width: 100%;
          margin-top: -0.06rem;
          padding: 1.5rem;
          .woo-settings-form-label, .woo-settings-input-content {
            width: 100% !important;
        }
        }
    }
  }

}
@media only screen and (max-width: 575px) {

}
// subscriber list

.woo-container .woo-search-and-multistatus-wrap .woo-multistatus-ul {
  cursor: pointer;
}
.woo-button {
  text-align: right;
  margin-bottom: 1.5rem;
  input.btn.default-btn{
    padding: 0.5rem 1.5rem;
    background: #e03c32;
    color: #f9f8fb;
    border-radius: 0.25rem;
  }
}

.woo-search-and-multistatus-wrap {
  @include flexprops(center);
  gap:1rem;
  justify-content: space-between;
  padding: 2rem 0;
  flex-wrap:wrap;

  .woo-multistatus-ul {
    margin: 0;
    cursor: pointer;
    @include flexprops(center);
    flex-wrap: wrap;
    .woo-multistatus-item.status-active {
      color: $theme-color;
  }
    .woo-multistatus-item {
      margin: 0;
      font-size: 0.875rem;
      color: $paragraph-color;
      button{
        padding:0;
      }
    }
    .woo-divider {
      width: 0.051rem;
      background-color: $paragraph-color;
      margin: 0 0.4rem;
      height: 1rem;
    }
  }
}
.woo-wrap-bulk-all-date {
  @include flexprops(center);
  gap:0.5rem 0.5rem;
  flex-wrap:wrap;
  padding-bottom: 0.5rem;
}
.woo-page-title {
  @include flexprops(center);
  p {
    font-size: 1.5rem;
    color: $title-color;
    margin-right: 0.7rem;
  }
  .pull-right{
    margin: 0.4rem 0 0 auto;
    .woo-btn.btn-purple{
      @include purple-btn();
      @include button();
      font-size: 0.875rem;
    }
  }
}
// subscriber list css date picker
span.rs-picker-toggle-placeholder {
  display: none;
}
input.rs-picker-toggle-textbox {
  background-color: transparent;
  border: none;
  width: 13.375rem;
  line-height: 1.5rem;
}
.rs-picker-cleanable.rs-picker-daterange .rs-picker-toggle.rs-btn {
  padding-right: 1rem;
}
.rs-picker-toggle.rs-btn.rs-btn-default {
  background-color: #fdfdfe;
  padding: 0.563rem 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #d4d1d9;
  & svg{
    margin-top: 0.25rem;
  }
  & span svg{
    margin-top: 0rem;
  }
}
.sc-evZas.dFsTSm {
  overflow: visible;
}
// this is for date picker -----
.rs-calendar-table-header-cell {
  display: table-cell;
  width: 1%;
  padding: 1px;
  text-align: center;
  vertical-align: middle;
}
//for loader purpose-----
.woo-middle-container-wrapper > span {
  display: block;
  margin: 0 auto;
}
// Start - Header
.woo-header-search-section {
  @include flexprops(center);
  @include input;
  position:relative;
  background-color: $fill-color;
  & label {
    top: 0.75rem;
    left: 1.5rem;
    border: none;
    & i {
        color: $grey-icon;
    }
  }
  & input {
    border: none;
    background-color: transparent;
    &:focus{
      background-color: transparent;
      box-shadow: none;
    }
  }
  .woo-search-content {
    background: $fill-color;
    border: $border;
    z-index: 99;
    position: absolute;
    top: 108%;
    right: 0;
    overflow-y: auto;
    width: 100%;
    height: 16rem;
   @include scroll-width();
    .woo-header-search-content-wrapper{
        padding: 0.75rem;
        border-bottom: 0.06rem solid $boder-color;
      a{
        color: $title-color;
        position: relative;
        cursor: pointer;
        &:hover{
          text-decoration: none;
        }
        .woo-header-search-contetnt-label {
          margin: 1.75rem 0 0.25rem;
          color: $title-color;
          font-weight: 500;
      }
      p.woo-header-search-contetnt-desc {
        h5{
        position: absolute;
        padding:0 0.25rem;
        left: 0;
        top: 0;
        background-color: #fdf8f8;
        color:#df5d65;
        border-radius: $border-radius;
        font-size: 0.75rem;
        font-weight: 400;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        }
      }
      }
    }
}
}
.woo-wrap-bulk-action.css-b62m3t-container {
  min-width: 9.7rem;
}
//css for table purpose--
.woo-backend-datatable-wrapper {
  .rdt_Pagination{
    background: transparent;
    border: none;
    color: $paragraph-color;
    margin: 2rem 0 3rem;
    min-height: 0;
    .sc-llJcti {
      border: $border;
      border-radius: $border-radius;
      margin-left: 1rem;
      padding: 0 0.4rem 0 0;
      .sc-cxabCf {
        background: none;
        color:$title-color;
        padding: 0 1.5rem;
        min-height: 2rem;
        max-width: 1.5rem;
        &:focus{
          box-shadow: none;
        }
      }
      svg {
        top: 0.3rem;
        right: 0.8rem;
        color: $title-color;
      }
      &:hover{
        border: 0.063rem solid $theme-color;
      }
    }     
      .sc-ezWOiH .sc-gicCDI {
        border: $border;
        border-radius: $border-radius;
        margin-left: 0.25rem;
        width: 2.5rem;
        height: 2rem;
        @include flexprops(center);
        svg {
            width: 2rem;
        }
        &:hover{
          border: 0.063rem solid $theme-color;
        }
      }
  }
  .sc-dmRaPn{
  @include scroll-height();
  .sc-ivTmOn {
    background: $fill-color;
    color: $paragraph-color;
}
  }
  .rdt_Table {
    background: transparent;
    .rdt_TableHead {
      .rdt_TableHeadRow {
          border: $border;
          margin-bottom: 0.4rem;
          border-radius: $border-radius;
          font-size: 0.875rem;
          background-color:$fill-color;
          color:$title-color;
          .sc-crXcEl {
            justify-content: start;
        }
      }
    }
    .rdt_TableBody {
      .rdt_TableRow {
        border: $border;
        color:$paragraph-color;
        border-radius: $border-radius;
        margin-bottom: 0.2rem;
        min-height: 3rem;
        background-color:$fill-color;
        font-size: 0.813rem;
        position: relative;
        .rdt_TableCell {
          img{
            margin: 0 0.5rem 0 0;
          }
          .woo-vendor-action-icon {
            @include flexprops(center);
            min-width: 7rem;
            column-gap:0.25rem;
            .woo-vendor-icon-name {
              @include flexprops(start);
              padding: 0.25rem 0;
             word-break: break-word;
          }
            div, a{
              &:hover{
                text-decoration: none;
              }
              i{
                padding:0.5rem;
                border-radius: $border-radius;
                color: $theme-color;
              &:hover {
                background:$font-white;
              }
              }
            }
          }
        }
        .woo-vendor-icon-name {
          img {
            border-radius: $border-radius;
            margin-right: 0.4rem;
          }
          a{
          white-space: normal;
          }
        }
        .sc-hKMtZM {
         padding:0.75rem 1rem 0.5rem;
         align-items:start;
         div:first-child{
          white-space: nowrap;
         }
        }
      }
    }
  }
}
#wpcontent{  
  padding: 0
}
#adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover{
  font-weight: 500 !important;
}
#adminmenu .wp-submenu a{
  position: relative;
}
.woo-settings-basic-input-class input.woo-setting-form-input{
  border-radius: 0.25rem;
  width: 100%;
  padding: 0 0.75rem;
  color: #8e8b91;
  font-size: .875rem;
  border: 0.063rem solid #d4d1d9;
  background-color: #fdfdfe;
  line-height: 2.375;
 
}
input:focus, textarea:focus{
  outline: none;
  box-shadow: none !important;
}
.rs-picker-toolbar-ranges.rs-stack {
  display: flex;
}
#adminmenu .wp-submenu li a:hover {
  font-weight: 500 !important;
  color: #1675e0 !important;
}
//popup css are started here
.MuiDialogContent-root:has(.woo-image-overlay){
  &::-webkit-scrollbar{
    width: 0;
  }
}
.woo-image-overlay {
  .woo-overlay-content {
    background: #fff;
    padding: 0rem 1rem;
    text-align: center;
    border-radius: 0.25rem;
    max-width: 26rem;
    position: relative;
    .woo-modal.cross {
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
      color: #181819;
  }
 
}

h1.banner-header {
font-size: 2rem;
span.banner-pro-tag {
  line-height: 0;
  background: #65438f;
  color: #f9f8fb !important;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  margin-left: 0.125rem;
  box-shadow: 0.25rem 0.25rem 0.875rem rgb(63 20 115 / 25%);
  }
}
h2 {
font-size: 1.5rem;
margin: 1rem 0 1.5rem;
}

  h3 {
    color: #181819;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .discount-tag {
    background: #fbedee;
    color: #e26f76;
    font-size: 0.875rem;
    padding: 0.315rem 1.25rem;
    width: fit-content;
    margin: 0.5rem auto 1rem;
    border-radius: 2rem;
    b{
      font-weight: 600;
    }
}

  p {
    color: #5e5d60;
    font-size: 1rem;
  }
  .woo-banner-offer {
    margin: 1.5rem 0 1rem;
    font-size: 1.25rem;
    font-weight: 700;
    color: #181819;
}
.upgrade{
  color: #181718;
}
.woo-banner-content{
  font-size: 1rem;
line-height: 1.6;
letter-spacing: 0.02rem;
font-weight: 500;
  p {
  font-size: 0.9rem;
  margin: 0 0 0.25rem;
  text-align: left;
  letter-spacing: 0;
  font-weight: 400;
  font-style: italic;
}}
  a.woo-go-pro-btn {
    background: #e35047;
    color: #f9f8fb;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    font-size: 1.25rem;
    margin: 2rem auto 0rem;
    display: block;
    width: fit-content;
    box-shadow: 0.25rem 0.25rem 1.5rem rgb(227 80 71 / 50%);
  }
}
.MuiPaper-root{
  padding: 2rem;
}
.woo-module-dialog-title {
  text-align: center;
}
span.stock-alert-pro-tag {
  position: absolute;
  top: 0.25rem;
  right: 0.5rem;
  background: #9f8ab9;
  color: #fdfdfe;
  padding: 0.125rem 0.5rem;
  border-radius: 0.625rem;
  font-size: 0.625rem;
  text-align: center;
  line-height: 0.7rem;
  text-transform: capitalize;
}
.woo-current-tab-lists a {
  position: relative;
}
img.subscriber-img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}
.stock-alert-popup-cross {
  text-align: right;
}