.required {
	color: red; 
}

.no_subscriber {
	font-size: 35px;
	color: green;
}

.no_subscriber_zero {
	font-size: 35px;
	color: red;
}

.interested_person {
	margin-top: 25px;
}

.stock_label {
	text-align: center;
	font-weight: bold;
}

.variation_no_subscriber {
	text-align: center;
	font-size: 3.5em;
	margin: 20px;
	color: green;
}

.variation_no_subscriber_zero {
	text-align: center;
	font-size: 3.5em;
	margin: 20px;
	color: red;
}

.stock_column {
	color: green;
	font-size: 15px;
}

.stock_column_zero {
	color: red;
	font-size: 15px;
}

/*pro tag*/
span.stock-manager-pro-tag {
    position: absolute;
    right: 0.5rem;
    background: #9f8ab9;
    color: #fdfdfe;
    padding: 0.125rem 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0.625rem;
    font-size: .625rem;
    text-align: center;
    line-height: 1;
    text-transform: capitalize;
}

#adminmenu .wp-submenu li{
	position: relative;
}

.product-subscribtion-column{
	color: #181817;
    font-weight: 600;
    font-size: 1rem;
}