/* Icons Part Start Here */
@font-face {
    font-family: 'mvx-table-module';
    src:  url('./fonts/mvx-table-module.eot?fe8z6g');
    src:  url('./fonts/mvx-table-module.eot?fe8z6g#iefix') format('embedded-opentype'),
      url('./fonts/mvx-table-module.ttf?fe8z6g') format('truetype'),
      url('./fonts/mvx-table-module.woff?fe8z6g') format('woff'),
      url('./fonts/mvx-table-module.svg?fe8z6g#mvx-table-module') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="module-"], [class*=" module-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mvx-table-module' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .module-arrow-right2:before {
    content: "\ea3c";
  }
  .module-arrow-down2:before {
    content: "\ea3e";
  }
  /* Icons Part End Here */
  
  /* Loading table animation start here */
  
  .table-container {
    width: 100%;
    padding: 1rem;
  }
  
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #ccc;
    width: 100%;
  }
  
  .tg .rdt_TableCell {
    font-size: 0.882rem;
    padding: 0.63rem 0.315rem;
    border-style: solid;
    border-width: 0.0rem;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #fff;
  }
  
  .tg tr:first-child .rdt_TableCell {
    font-size: 0.882rem;
    font-weight: normal;
    padding: 0.63rem 0.315rem;
    border-style: solid;
    border-width: 0.0rem;
    overflow: hidden;
    word-break: normal;
    border-color: #ccc;
    color: #333;
    background-color: #f0f0f0;
  }
  
  .line {
    float: left;
    max-width: 6.3rem;
    width: 100%;
    height: 1.008rem;
    margin-top: 0.756rem;
    border-radius: 0.441rem;
    background-image: linear-gradient(
      90deg,
      #f4f4f4 0.0rem,
      rgba(229, 229, 229, 0.8) 2.52rem,
      #f4f4f4 5.04rem
    );
    background-size: 37.8rem;
    animation: shine-lines 2s infinite ease-out;
  }
  
  @keyframes shine-lines {
    0% {
      background-position: -6.3rem;
    }
    40%,
    100% {
      background-position: 8.82rem;
    }
  }
  
  /* Loading table animation end here */
  
  .table-container .rdt_TableHead {
    border-radius: 0.25rem;
  }
  
  .rdt_Table .rdt_TableHeadRow {
    border: 0.063rem solid rgba(0, 0, 0, 0.2);
    border-bottom: none;
    background: #e7e7e7;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  .rdt_Table .rdt_TableHeadRow .rdt_TableCol:last-child {
    display: none;
  }
  .rdt_TableBody .rdt_TableRow {
    border-left: 0.063rem solid rgba(0, 0, 0, 0.2);
    border-right: 0.063rem solid rgba(0, 0, 0, 0.2);
    position: relative;
  }
  .rdt_TableBody .rdt_TableRow:nth-child(even) {
    background: rgb(245, 245, 245);
  }
  .rdt_TableBody .rdt_TableRow .rdt_TableCell:last-child {
    max-width: 2.52rem;
    min-width: 2.52rem;
    top: 0.35rem;
    right: 0.75rem;
    padding: 0;
    width: 100%;
    flex-grow: unset;
    position: absolute;
    display: none;
  }
  .dropdown_btn {
    width: 100%;
  }
  .dropdown_btn button {
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    padding: 0.25rem 0.1rem;
    background: #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-row-custom {
    display: flex;
    column-gap: 3rem;
    min-height: 100%;
    align-items: center;
    text-wrap: nowrap;
  }
  .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-row-custom h4 {
    display: none;
  }
  
  @media only screen and (max-width: 79.002rem) {
    .rdt_TableHeadRow {
      padding: 0.313rem;
    }
    .rdt_TableHeadRow .rdt_TableCol {
      min-width: 3.15rem;
      width: 100%;
      display: none;
    }
    .rdt_TableHeadRow .rdt_TableCol:first-child,
    .rdt_TableHeadRow .rdt_TableCol:nth-child(2),
    .rdt_TableHeadRow .rdt_TableCol:nth-child(3) {
      display: block;
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell {
      width: 100%;
      display: inline-block;
      min-width: 3.15rem;
      background-color: #ccc;
      height: 2.25rem;
    }
    .rdt_TableBody .rdt_TableRow {
      padding: 0.313rem;
      display: block;
      max-height: 3rem;
      transition: max-height 0.3s linear;
      overflow: hidden;
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:first-child,
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(2),
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(3) {
      width: 33%;
      background: transparent !important; /* To adjust default background-color */
      margin-bottom: 0.5rem;
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:last-child {
      display: flex;
      background-color: transparent;
    }
    .rdt_TableBody .rdt_TableRow.active {
      max-height: 35.875rem;
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-row-custom h4 {
      display: block;
      font-weight: 500;
    }
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:first-child .table-row-custom h4,
    .rdt_TableBody .rdt_TableRow .rdt_TableCell:nth-child(2) .table-row-custom h4,
    .rdt_TableBody
      .rdt_TableRow
      .rdt_TableCell:nth-child(3)
      .table-row-custom
      h4 {
      display: none;
    }
    .selectable-table .rdt_TableRow .rdt_TableCell:first-child{
      min-width: 1.89rem;
      max-width: 3.15rem;
      width: auto !important; /* To adjust default width */
    }
    .selectable-table .rdt_TableHeadRow .rdt_TableCol:first-child{
      min-width: 1.89rem;
      max-width: 0.15rem;
      width: auto !important; /* To adjust default width */
    }
  }
  
  @media only screen and (max-width: 370px){
    .rdt_TableBody .rdt_TableRow .rdt_TableCell .table-row-custom *{
      font-size: 0.85rem !important;
    }
  }
  /* Table start end */
  