$theme-color: #522c81;
.support-container {
  padding: 2rem;

  .support-header-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    .support-heading {
      font-size: 1.25rem;
      font-weight: 500;
      line-height: 1.5;
      margin-bottom: 0.5rem;
    }

    .support-subheading {
      font-size: 0.85rem;
      font-weight: 400;
    }
  }

  .support-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    .card-item {
      padding: 1.5rem;
      flex: 1 0 12.6rem;
      height: 10.71rem;
      border: 0.005rem solid $theme-color;
      border-radius: 0.25rem;
      background: linear-gradient(145deg, #ffffff, #e6e6e6);
      box-shadow:
        0.63rem 0.63rem 1.26rem #ededed,
        -0.63rem -0.63rem 1.26rem #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        &:hover{
          background: linear-gradient(-145deg, #ffffff, #e6e6e6);
        }

        i{
          font-size: 2rem;
          color: $theme-color;
          margin-bottom: 0.75rem;
        }
        
        a{
          font-size: 1.25rem;
          margin-bottom: 0.5rem;
          text-align: center;
          display: block;
          color: $theme-color;
        }

        p{
          font-size: 0.85rem;
          text-align: center;
        }
    }
  }

  .video-faq-wrapper{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    .video-section{
      flex: 1 0 15.12rem;
      height: 18.9rem;
      
      iframe{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .faq-section{
      flex: 1 0 17.64rem;
    }
  }
}

@media only screen and (max-width: 43.75rem) {
  .video-faq-wrapper{

    
  }
}

.faqs {
  width: 100%;
}

.faqs .faq {
  padding: 0.945rem;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0.0rem 0.126rem 0.126rem rgba(0, 0, 0, 0.1);
  margin: 0.25rem 0;
}

.faqs .faq .faq-question {
  position: relative;
  padding-right: 2.52rem;
  transition: all 0.4s ease;
  font-size: 0.9rem;
  line-height: normal;
  cursor: pointer;
  user-select: none;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0.0rem;
  transform: translateY(-50%);
  width: 1.89rem;
  height: 1.89rem;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
  font-size: 0.75rem;
}

.faqs .faq.open .faq-question {
  margin-bottom: 0.945rem;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 63.0rem;
  opacity: 1;
}